@charset "utf-8";
/* CSS Document */

body{
	margin:0;
	padding: 0;
	background-color:#000

	}
	
h1{
	position: relative;
	left: 900px;
	color:#FFF
}

.imgSize{
	width: auto ;
  	height: auto;
	max-height: 100%;
	display: block;
  margin-left: auto;
  margin-right: auto;
}

div {
	position : absolute;
	opacity: 0;
  width: 100%;
  height: 100%;
  }
  
 .button{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
 }
 


