@charset "utf-8";
/* CSS Document */

body{
	margin:0;
	padding: 0;
	background-color:#000;

	}
	
h1{
	position: relative;
	font-size: 12px;
	left: 20px;
	color:#FFF
}

.imgSize{
	width: auto ;
  	height: auto;
	max-height: 100%;
	display: block;
  margin-left: auto;
  margin-right: auto;
  
}

div {
	position : absolute;
  width: 100%;
  height: 100%;
  
  }
  
  .imageDiv {
	 opacity: 0 ; 
  }
  
  
  .button{
	  width: 80vw;
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translateY(-50%) translateX(-50%);
  
	border: none;
	height: 10%;

	text-decoration: none;
	display: inline-block;
	background-color:#1fe0;
	color: #e67e22;
	z-index: 2;
	font-size: 90px;
	opacity : 0.3;
	transition: 0.8s;
	cursor: pointer;
	border-radius: 20%;
	
  }
  
 .button:hover {opacity: 1}